## list是一种有序的集合，可以随时添加和删除其中的元素

In [14]:
classmates = ['Michael', 'Bob', 'Tracy']
classmates

['Michael', 'Bob', 'Tracy']

In [6]:
len(classmates)

3

In [7]:
classmates[0]

'Michael'

In [8]:
classmates[1]

'Bob'

### 最后一个元素索引len(classmates) - 1, 或者-1

In [9]:
classmates[-1]

'Tracy'

In [10]:
classmates[len(classmates) - 1]

'Tracy'

In [11]:
classmates[-2]

'Bob'

#### 追加元素

In [15]:
# 追加元素在末尾
classmates.append('Adam')
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [16]:
# 插入元素到指定的位置
classmates.insert(1, 'Jack')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

#### 删除list末尾元素，pop()

In [18]:
classmates.pop()

'Adam'

In [19]:
classmates

['Michael', 'Jack', 'Bob', 'Tracy']

In [20]:
# 删除指定位置元素 pop(i)
classmates.pop(1)

'Jack'

In [21]:
classmates

['Michael', 'Bob', 'Tracy']

#### 替换某个元素成别的元素

In [22]:
classmates[1] = 'Sarah'
classmates

['Michael', 'Sarah', 'Tracy']

#### list元素的数据类型可以不同

In [23]:
L = ['Apple', 123, True]
L

['Apple', 123, True]

In [24]:
s = ['python', 'java', ['r', 'php'], 'C']
len(s)

4

In [25]:
p = ['r', 'php']
s = ['python', 'java', p, 'C']

In [26]:
s[2]

['r', 'php']

In [27]:
s[2][0]

'r'

In [28]:
len([])

0

## tuple 不可修改

In [29]:
classmates0 = ('Michael', 'Bob', 'Tracy')
classmates0

('Michael', 'Bob', 'Tracy')

In [30]:
classmates0[0]

'Michael'

#### 只有1个元素的tuple

In [32]:
t = (3,)
t

(3,)

### tuple不变是tuple的指向不变，如指向一个list，list里面元素可以改变

In [33]:
s

['python', 'java', ['r', 'php'], 'C']

In [34]:
s[2][1] = 'PHP'
s

['python', 'java', ['r', 'PHP'], 'C']

#### Test

In [35]:
L = [
    ['Apple', 'Google', 'Microsoft'],
    ['Java', 'Python', 'PHP', 'Ruby'],
    ['Adam', 'Bart', 'Lisa']
]
L

[['Apple', 'Google', 'Microsoft'],
 ['Java', 'Python', 'PHP', 'Ruby'],
 ['Adam', 'Bart', 'Lisa']]

In [36]:
# print apple
print(L[0][0])

Apple

In [37]:
# print python
print(L[1][1])

Python

In [38]:
# print Lisa
print(L[2][2])

Lisa